@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@keyframes openMenu {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes closeMenu {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.border1 {
  border: 1px dashed darkorange;
}

.border2 {
  border: 2px dashed hotpink;
}

.p-0 {
  padding: 0.5em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4em;
}

.spacing-y > * + * {
  margin-top: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

@media (prefers-reduces-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.fs-d1 {
  font-size: 5rem;
  color: #33354D;
  font-weight: 800;
}

.fs-d2 {
  font-size: 4.5rem;
  color: #33354D;
  font-weight: 800;
}

.fs-d3 {
  font-size: 4rem;
  color: #33354D;
  font-weight: 800;
}

.fs-d4 {
  font-size: 3.5rem;
  color: #33354D;
  font-weight: 800;
}

.fs-d5 {
  font-size: 3rem;
  color: #33354D;
  font-weight: 800;
}

.fs-d6 {
  font-size: 2.625rem;
  color: #33354D;
  font-weight: 800;
}

.fs-h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0B0F19;
}

.fs-h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #0B0F19;
}

.fs-h3 {
  font-size: 1.75rem;
  font-weight: 800;
  color: #0B0F19;
}

.fs-h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #0B0F19;
}

.fs-h5 {
  font-size: 1.25rem;
  font-weight: 800;
  color: #0B0F19;
}

.fs-h6 {
  font-size: 1rem;
  font-weight: 800;
  color: #0B0F19;
}

.f-xl {
  font-size: 1.25rem;
  color: #565973;
  font-weight: 400;
}

.f-lg {
  font-size: 1.125rem;
  color: #565973;
  font-weight: 400;
}

.f-md {
  font-size: 1rem;
  color: #565973;
  font-weight: 400;
}

.f-sm {
  font-size: 0.875rem;
  color: #565973;
  font-weight: 400;
}

.f-xs {
  font-size: 0.75rem;
  color: #565973;
  font-weight: 400;
}

.container {
  width: 100%;
  margin-inline: auto;
}
@media (width >= 36rem) {
  .container {
    width: 33.75rem;
  }
}
@media (width >= 48rem) {
  .container {
    width: 45rem;
  }
}
@media (width >= 62rem) {
  .container {
    width: 60rem;
  }
}
@media (width >= 75rem) {
  .container {
    width: 71.25rem;
  }
}
@media (width >= 87.5rem) {
  .container {
    width: 82.5rem;
  }
}

.faq .faq__heading {
  grid-area: heading;
  text-align: center;
  padding-inline: 1rem;
}
.faq .faq__heading h2 {
  padding-bottom: 1em;
  font-size: 1.5rem;
  color: #131022;
  font-weight: 800;
  width: 90%;
}
.faq .faq__heading p {
  padding-bottom: 3em;
  font-size: 1.125rem;
  color: #585C7B;
  font-weight: 400;
  text-wrap: pretty;
}
.faq .faq__accordion {
  grid-area: faq;
  margin-inline: 0.75rem;
  padding-inline: 1.5em;
  border: 1px solid #E2E5F1;
  border-radius: 1rem;
}
@media (width >= 87.5rem) {
  .faq .faq__accordion {
    display: flex;
    flex-direction: column;
  }
}
.faq .faq__accordion .faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}
.faq .faq__accordion .faq__question p {
  font-size: 1rem;
  color: #131022;
  font-weight: 600;
  padding-block: 1em;
  padding-left: 0.5em;
  text-wrap: pretty;
}
.faq .faq__accordion .faq__question button {
  background-color: transparent;
  border: none;
}
.faq .faq__accordion .faq__question i {
  background-color: #F3F6FF;
}
.faq .faq__accordion .faq__answer {
  padding-block: 1em;
  padding-inline: 1.5em;
  margin-inline: -1.6rem;
  border-block: 1px solid #E2E5F1;
}
.faq .faq__contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.faq .faq__contact .contact-box {
  padding-block: 4em;
}
.faq .faq__contact .contact-box-btn {
  padding: 1em 1.75em;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  font-weight: 600;
  background-color: #6366F1;
  color: #FFFFFF;
  transition: background-color 150ms;
}
.faq .faq__contact .contact-box-btn:hover, .faq .faq__contact .contact-box-btn:focus-visible {
  background-color: hsl(from #6366F1 h s calc(l - 5));
}
.faq .faq__contact .contact-box-btn::after {
  content: " now";
}
.faq .faq__contact .contact-box-text {
  display: none;
}
.faq .faq__contact .contact-box-hide {
  display: none;
}

.features {
  padding-block: 2.2em;
}
@media (width >= 87.5rem) {
  .features {
    padding-top: 5rem;
  }
}
@media (width >= 87.5rem) {
  .features .container {
    display: grid;
    grid-template-areas: "phone heading" "phone feature";
  }
}
.features .features__image {
  grid-area: phone;
  display: none;
}
@media (width >= 87.5rem) {
  .features .features__image {
    display: block;
    padding-right: 14rem;
  }
}
.features .features__heading {
  grid-area: heading;
}
.features .features__heading .features__title {
  font-size: 1.75rem;
  color: #131022;
  font-weight: 800;
  text-align: center;
}
@media (width >= 87.5rem) {
  .features .features__heading .features__title {
    font-size: 2.5rem;
    color: #0B0F19;
    font-weight: 800;
    text-align: left;
  }
}
.features .features__heading .features__subtext {
  font-size: 1.125rem;
  color: #585C7B;
  font-weight: 400;
  text-align: center;
  padding-block: 1em;
  padding-inline: 0.75em;
}
@media (width >= 87.5rem) {
  .features .features__heading .features__subtext {
    color: #9397AD;
    text-align: left;
    padding-left: 0;
    padding-inline: 0;
    margin-bottom: -4rem;
  }
}
.features .features__grid {
  grid-area: feature;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media (width >= 48rem) {
  .features .features__grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (width >= 87.5rem) {
  .features .features__grid {
    gap: 0.5rem;
  }
}
.features .features__grid .feature-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  padding-inline: 0.75em;
  padding-block: 1em;
}
@media (width >= 87.5rem) {
  .features .features__grid .feature-item {
    padding-left: 0;
    padding-right: 0.75em;
  }
}
.features .features__grid .feature-item .feature-item__img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  background-color: rgba(99, 102, 241, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .features__grid .feature-item .feature-item-heading {
  font-size: 1.25rem;
  color: #131022;
  font-weight: 800;
}
@media (width >= 87.5rem) {
  .features .features__grid .feature-item .feature-item-heading {
    color: #0B0F19;
  }
}
.features .features__grid .feature-item-subtext {
  font-size: 1rem;
  color: #585C7B;
  font-weight: 400;
}
@media (width >= 87.5rem) {
  .features .features__grid .feature-item-subtext {
    color: #565973;
    text-wrap: pretty;
  }
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width >= 48rem) {
  footer .container {
    flex-direction: row;
    gap: 0.3rem;
  }
}
footer p {
  font-size: 0.875rem;
  color: #9397AD;
  font-weight: 400;
}

.logos {
  display: none;
}
.logos .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.logos .logos__cards {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E2E5F1;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.logos img {
  max-width: 80%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (width >= 48rem) {
  .logos {
    display: block;
  }
  .logos .logos__cards:nth-last-of-type(-n+2) {
    display: none;
  }
}
@media (width >= 87.5rem) {
  .logos .container {
    grid-template-columns: repeat(6, 1fr);
  }
  .logos .logos__cards:nth-last-of-type(-n+2) {
    display: flex;
  }
}

.navbar {
  position: relative;
  background-color: #FFFFFF;
}
.navbar .skip-link {
  position: absolute;
  top: 5rem;
  left: -100vw;
  display: inline-block;
  outline: none;
  padding: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #6366F1;
  border-radius: 0 0.6rem 0.6rem 0;
  transition: 250ms;
}
.navbar .skip-link:focus {
  left: 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.2rem;
  position: relative;
}
.navbar .navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar .navbar__logo-name {
  font-size: 1.375rem;
  color: #131022;
  font-weight: 800;
  margin-bottom: 0.1rem;
}
.navbar .navbar__menu-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  padding-right: 1rem;
  display: none;
  z-index: 100;
}
@media (width < 75rem) {
  .navbar .navbar__menu-toggle {
    display: flex;
  }
}
.navbar .main-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6rem;
}
.navbar .main-menu .navbar__link {
  font-size: 1rem;
  color: #33354D;
  font-weight: 600;
}
.navbar .main-menu .navbar__link:hover, .navbar .main-menu .navbar__link:focus-visible {
  color: #6366F1;
}
.navbar .main-menu .navbar__link--signin {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (width < 75rem) {
  .navbar .main-menu {
    position: absolute;
    display: flex;
    top: 100%;
    right: 0;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    padding-block: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1254901961);
  }
  .navbar .main-menu .navbar__link--signin {
    position: relative;
    right: 0;
  }
}
.navbar .navbar__darkmode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11rem;
}
@media (width < 75rem) {
  .navbar .navbar__darkmode-toggle {
    margin-right: 6rem;
  }
}
@media (width < 48rem) {
  .navbar .navbar__darkmode-toggle {
    margin-right: 3rem;
  }
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-label {
  font-size: 1rem;
  color: #33354D;
  font-weight: 600;
  padding-right: 0.5em;
  white-space: nowrap;
}
@media (width < 48rem) {
  .navbar .navbar__darkmode-toggle .navbar__darkmode-label {
    display: none;
  }
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-switch {
  --_w: 2.875rem;
  --_h: 1.5rem;
  width: var(--_w);
  height: var(--_h);
  position: relative;
  flex-shrink: 0;
  display: inline-block;
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-switch input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-switch .navbar__darkmode-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9397AD;
  border-radius: 100vw;
  transition: 300ms all ease-in-out;
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-switch .navbar__darkmode-slider::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  height: calc(100% - 0.25em);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: 300ms all ease-in-out;
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-switch input[type=checkbox]:checked + .navbar__darkmode-slider::before {
  left: calc(100% - var(--_h) + 0.125em);
}
.navbar .navbar__darkmode-toggle .navbar__darkmode-switch input[type=checkbox]:checked + .navbar__darkmode-slider {
  background-color: #6366F1;
}
@media (width < 75rem) {
  .navbar .navbar__menu-toggle[aria-expanded=true] ~ .main-menu {
    animation: openMenu 250ms forwards;
  }
  .navbar .navbar__menu-toggle[aria-expanded=false] ~ .main-menu {
    animation: closeMenu 250ms forwards;
  }
}

.showcase {
  padding-top: 2rem;
  background-image: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(0, 0, 0, 0.02) 83%);
}
.showcase .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "headline" "content";
  gap: 2rem;
  justify-items: center;
  align-items: center;
}
@media (width >= 48rem) {
  .showcase .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "headline headline" "content image";
  }
}
@media (width >= 75rem) {
  .showcase .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "headline image" "content image";
  }
}
.showcase .showcase__headline {
  grid-area: headline;
  text-align: center;
  margin-inline: auto;
  line-height: 1.2;
  font-size: 2, 125rem;
  width: 100%;
  font-size: 2.125rem;
  color: #131022;
  font-weight: 800;
}
@media (width >= 48rem) {
  .showcase .showcase__headline {
    font-size: 3rem;
    color: #33354D;
    font-weight: 800;
  }
}
@media (width >= 75rem) {
  .showcase .showcase__headline {
    font-size: 3.5rem;
    color: #33354D;
    font-weight: 800;
  }
}
.showcase__content {
  grid-area: content;
  text-align: center;
}
@media (width >= 48rem) {
  .showcase__content {
    text-align: left;
    padding-left: 2rem;
  }
}
.showcase__content-text {
  font-size: 1.125rem;
  color: #565973;
  font-weight: 400;
  padding-top: 0.5em;
  width: 90%;
  margin-inline: auto;
  text-wrap: pretty;
}
.showcase .showcase__buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (width >= 48rem) {
  .showcase .showcase__buttons {
    flex-direction: row;
  }
}
.showcase .showcase__more {
  padding-block: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.showcase .showcase__more-text {
  font-size: 0.875rem;
  color: #585C7B;
  font-weight: 400;
}
.showcase__image {
  grid-area: image;
  margin-right: 2.1875rem;
  margin-top: 2rem;
  display: none;
}
@media (width >= 48rem) {
  .showcase__image {
    display: block;
  }
}

.sub .sub__container {
  border-radius: 0.5rem;
  margin-inline: 0.75em;
  padding-block: 1rem;
  background-color: #F3F6FF;
}
@media (width >= 87.5rem) {
  .sub .sub__container {
    margin: 0;
  }
}
.sub .sub__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sub .sub__header-title {
  font-size: 1.375rem;
  color: #131022;
  font-weight: 800;
}
@media (width >= 87.5rem) {
  .sub .sub__header-title {
    font-size: 1.5rem;
    color: #0B0F19;
    font-weight: 800;
  }
  .sub .sub__header-title:after {
    content: " to stay informed about latest updates";
  }
}
.sub .sub__input {
  display: flex;
  justify-content: center;
}
.sub .sub__input .mail-input {
  border: 1px solid #D4D7E5;
  border-radius: 0.5em 0 0 0.5em;
  font-size: 1rem;
  color: #0B0F19;
  font-weight: 400;
}
.sub .sub__input .mail-input-btn {
  padding: 0.813em 2em;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border-radius: 0 0.5em 0.5em 0;
}

.testimonials {
  background-color: #F3F6FF;
  padding-block: 5em;
}
@media (width < 87.5rem) {
  .testimonials {
    display: none;
  }
}
.testimonials .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.testimonials__heading {
  font-size: 2.5rem;
  color: #0B0F19;
  font-weight: 800;
}
.testimonials__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 1.5em;
  padding-top: 3em;
  gap: 1.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.0823529412);
}
.testimonials__card .testimonials__quote {
  position: absolute;
  top: -6%;
  left: 1rem;
  height: 3.8rem;
}
.testimonials__card .testimonials__rating {
  width: 88px;
  height: 16px;
}
.testimonials__card .testimonials__text {
  font-size: 1.125rem;
  color: #565973;
  font-weight: 400;
}
.testimonials__card .testimonials__user-info {
  display: flex;
  gap: 0.7rem;
}
.testimonials__card .testimonials__user-info .testimonials__user-text {
  display: flex;
  flex-direction: column;
}
.testimonials__card .testimonials__user-info .testimonials__user-text .testimonials__user-name {
  font-size: 1rem;
  color: #0B0F19;
  font-weight: 700;
}
.testimonials__card .testimonials__user-info .testimonials__user-text .testimonials__user-role {
  font-size: 0.875rem;
  color: #9397AD;
  font-weight: 400;
}

.btn-primary {
  background-color: #6366F1;
  color: #FFFFFF;
  transition: background-color 150ms;
}
.btn-primary:hover, .btn-primary:focus-visible {
  background-color: hsl(from #6366F1 h s calc(l - 5));
}

.btn-small {
  padding: 0.563em 1.25em;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn-medium {
  padding: 1em 1.75em;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  font-weight: 600;
}

.btn-large {
  padding: 0.813em 2em;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn-market {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1.5rem);
  border-radius: 0.5rem;
  background-color: #131022;
  color: #FFFFFF;
  padding: 0.5em 1em;
}
@media (width >= 48rem) {
  .btn-market {
    width: auto;
    padding: 0.6em 1.3em;
  }
}
.btn-market img {
  height: 3em;
}
@media (width >= 48rem) {
  .btn-market img {
    height: 2em;
  }
}
.btn-market:hover {
  background-color: hsl(from #131022 h s calc(l + 5));
}

.btn-circle i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 1rem;
  color: #3E4265;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=style.css.map */