@use '../abstracts/breakpoints' as b;
@use '../abstracts/colors' as c;
@use '../abstracts/typography-variables' as tv;

.slider {
   background-color: c.$clr-grey-100;
   padding-top: 5em;
   padding-bottom: 6em;

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   // Main heading for the slider
   .slider__heading {
      margin-bottom: 3rem;
      text-align: center;
      @include tv.font(40, c.$clr-grey-900, 800);
   }

   // Carousel container for images and text
   .slider__carousel-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // Carousel images arranged with spacing
      .slider__carousel-images {
         padding-bottom: 2.5em;
         display: flex;
         gap: 5rem;
         margin: auto;    
         
         // Lower opacity for 1st and 3rd image
         .carousel-image-1,
         .carousel-image-3 {
            opacity: 0.75;
         }
      }

      // Subheading for the carousel content
      .slider__carousel-heading {
         margin-bottom: 0.75rem;
         @include tv.font(24, c.$clr-grey-900, 800);   
      }

      // Text content under the images
      .slider__carousel-text {   
         width: 40rem;
         text-align: center;
         @include tv.font(16, c.$clr-grey-700); 
      }

   }
}