@use '../abstracts/breakpoints' as b;
@use '../abstracts/colors' as c;
@use '../abstracts/typography-variables' as tv;

footer {
   
   // Centering content ensuring layout works on different screen sizes
   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-block: 1.75em;

      @include b.breakpoint(768) {
         flex-direction: row;
         gap: 0.3rem;
      }
   }

   // Footer text-styling
   p {
      @include tv.font(14, c.$clr-grey-600);
      padding-block: 3.375em;
   }
}