@use '../abstracts/breakpoints' as b;
@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/typography-variables' as tv;
@use '../base/typography-style' as ts;

.showcase {
   padding-top: 2rem;
   background-image: c.$clr-bg-gradient;
 
   .container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
         "headline"
         "content";                 
     
      gap: 2rem;
      justify-items: center;
      align-items: center;
 
     @include b.breakpoint(768) {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto auto;
         grid-template-areas:
            "headline headline"
            "content image";
     }
     @include b.breakpoint(1200) {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto auto;
         grid-template-areas:
            "headline image"
            "content image";
     }
   }

   .showcase__headline {      
      grid-area: headline;
      text-align: center;
      margin-inline: auto;
      line-height: 1.2;
      font-size: 2,125rem;
      width: 100%;
      // @include tv.display-text-style(f.$fs-d6);

      @include b.breakpoint(768) {
         @include tv.display-text-style(f.$fs-d5);
      }
      @include b.breakpoint(1200) {          // 1400
         @include tv.display-text-style(f.$fs-d4);
      }
   }

    &__content {
      grid-area: content;
      text-align: center;

      @include b.breakpoint(768) {
         text-align: left;
         padding-left: 2rem;
       }
       &-text {
         @include tv.body-text-style(f.$fs-lg);
         padding-top: 0.5em;
         width: 90%;
         margin-inline: auto;
         text-wrap: pretty;
       }
    }

   .showcase__buttons {
      margin-top: 3rem;       // make helper
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;              // make helper

      @include b.breakpoint(768) { flex-direction: row; }
   }

   .showcase__more {
      padding-block: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;


      &-text {
         @include tv.body-text-style(f.$fs-sm, c.$clr-2);
      }
   }


   // Phone image
   &__image {
      grid-area: image;
      margin-right: 2.1875rem;
      margin-top: 2rem;
      display: none;

      @include b.breakpoint(768) {
         display: block;
         
      }
   }
}